
  
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
 
  :root {
    --container-padding: 4.8rem;
    --title:  rgb(199, 20, 104);
    --sub-title: rgb(32, 32, 32);
  } 
  


  *{
    font-family: 'Open Sans', sans-serif;
  }

  .flex{
    display: flex;
  }
  .border{
    border: 1px solid red;
  }
  a{
    text-decoration: none;
   color: unset;
  }
  li{
    list-style: none;
  }

  button{
    all: unset;
  }
  .container {
    border: 2px solid  rgba(63, 63, 70, 0.4);
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
    background-color: #fff;
    padding: 0 var(--container-padding); 
  }
  

  .divider {
    border-bottom: 1px solid rgba(63, 63, 70, 0.2);
  
    margin: 3rem 0;
    width: calc(100% + var(--container-padding) + var(--container-padding));
    margin-left: calc(var(--container-padding) * -1);
  }

/*========================
- responsive
-------------------------*/





  @media (max-width: 1000px) {
    .container {
      --container-padding: 1.7rem;
      width: 90%;
      padding: 0 var(--container-padding);
    }
  
    .divider {
      width: calc(100% + var(--container-padding) + var(--container-padding));
      margin-left: calc(var(--container-padding) * -1);
    }
  }